header{
    background-color: yellow;
    color: black;
    padding: 1%;
    font-size: 40px;
}
.chamada{
    background-color: rgb(0, 0, 0);
    padding-bottom: 2em;
    padding-top: 2em;
    color: white;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    padding: 6em;
}
.chamada-videos{
    
}